@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "JustLovely";
    src: url("/resources/fonts/JustLovely.ttf");
}

* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}

html, body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

img {
    user-select: none;
}

button, a
{
    cursor: pointer;
}

input[type="button"]
{
    outline: none;
    border: none;
    appearance: none;
}

a:visited,
a:link
{
    color: inherit;
    text-decoration: inherit;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: inherit;
}

.animation-hide-ltr {
    opacity: 0;
    transform: translateX(-100%);
}

.animation-hide-rtl {
    opacity: 0;
    transform: translateX(+100%);
}

.animation-show {
    opacity: 1;
    transform: translateX(0);
}

@media (prefers-reduced-motion: no-preference) {

    .animation-hide-ltr,
    .animation-hide-rtl {
        transition: 500ms all;
    }

}

.content-container {
    display: grid;
    grid-template-columns: 100% 0%;
}

.desktop-content {
    position: relative;
    width: 100%;
}

.mobile-header {
    display: none;
}

.content-wrapper
{
    margin-inline: auto;
    padding: 50px 0px;
    width: min(100%, 1100px);
    line-height: 1.1em;
    color: #111111;
}

.content-wrapper h1
{
    margin-bottom: 50px;
    font-size: 2.0em;
    font-weight: 700;
    color: #ED7FAB;
}

.content-wrapper h2
{
    margin: 30px 0px;
    font-size: 1.6em;
    font-weight: 600;
    line-height: 1.4;
    color: #ED7FAB;
}

.content-wrapper h3
{
    margin: 30px 0px;
    font-size: 1.4em;
    font-weight: 500;
    line-height: 1.4;
    color: #ABC0AE;
}

.content-wrapper div
{
    place-items: 200px;
}

.content-wrapper ol
{
    margin-top: 20px;
    list-style: circle;
    list-style-position: inside;
}

.content-wrapper p, 
.content-wrapper li
{
    font-size: 1.1em;
    line-height: 1.6em;
    color: #111111;
}

.header {
    width: 100%;
    background-color: #ED7FAB;
}

.header-logo
{
    margin-top: 12px;
    height: 45px;
}

.header-container {
    position: relative;
    margin: 0px auto;
    width: min(1100px, 100%);
    background-color: #ED7FAB;
}

.header-flex
{
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.header-title-span
{
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    color: #EF0B74;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    line-height: 60px;
}

.header-menu-item {
    display: inline-block;
    color: #FFFFFF !important;
}

.header-links {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    padding: 0px 12px 0px 12px;
    margin: 7px 0px;
    height: 46px;
    background-color: #F398BA;
}

.header-links-linked-in {
    margin-top: 10px;
    width: 26px;
    height: 26px;
    background-color: #FFFFFF;
    background: url("/resources/linkedin_header.svg") no-repeat;
}

.header-links-whatsapp {
    margin-top: 10px;
    width: 26px;
    height: 26px;
    background-color: #FFFFFF;
    background: url("/resources/whatsapp_header.svg") no-repeat;
}

.header-links-mail {
    margin-top: 10px;
    width: 26px;
    height: 26px;
    background-color: #FFFFFF;
    background: url("/resources/mail_header.svg") no-repeat;
}

.header-icon {
    display: none;
    position: absolute;
    top: 10px;
    right: 12px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    width: 40px;
    height: 40px;
    background: url("/resources/list.svg") no-repeat;
    background-size: cover;
}

.header-m
{
    transform: translateX(100%);
    position: fixed;
    right: 0px;
    width: 80vw;
    height: 100vh;
    background-color: #ED7FAB;
    border-left: 1px inset #FFFFFF;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
}

.header-m-content
{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    padding: 0px 50px;
}

.header-m-content a
{
    display: block;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.8em;
    color: #FFFFFF;
}

.header-m-icon
{
    position: absolute;
    top: 12px;
    right: 12px;
    width: 40px;
    height: 40px;
    background: url("/resources/close.svg") no-repeat;
    background-size: cover;
}

.header-icon:checked + .header-m {
    transform: translateX(0);
}

.welcome {
    width: 100%;
    background-color: #F398BA;
}

.welcome-container {
    position: relative;
    margin: 0px auto;
    width: min(1100px, 100%);
}

.welcome-content {
    padding: 120px 0px 120px 45%;
}

.welcome-content-greetings {
    width: 100%;
    bottom: 80px;
    font-size: 2.4em;
    text-align: center;
    color: #FFFFFF;
    font-family: "JustLovely", cursive;
}

.welcome-content-greetings-span {
    padding-left: 10px;
}

.welcome-title {
    padding: 0px 0px 25px 0px;
    font-size: 2.0em;
    font-weight: 900;
    line-height: 1.0em;
    color: #FFFFFF;
}

.welcome-rich-text {
    padding: 0px 0px 25px 0px;
    font-size: 1.2em;
    line-height: 1.4em;
    color: #EEEEEE;
}

.welcome-image {
    display: block;
    position: absolute;
    top: 120px;
    left: -225px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background: url("/resources/CW_Seat_Smile_Snipped.jpg") no-repeat;
    background-size: cover;
}

.welcome-image-shadow {
    position: absolute;
    top: 65px;
    left: -280px;
    width: 650px;
    height: 650px;
    border-radius: 50%;
    background-color: #ED7FAB88;
}

.welcome-coffee {
    position: absolute;
    left: 100px;
    bottom: -250px;
    width: 450px;
}

.welcome-waves {
    width: 100%;
    height: 200px;
    background: url("/resources/welcome_waves.svg") no-repeat;
    background-position: center center;
    background-size: cover;
}

.about {
    margin-top: 150px;
    width: 100%;
    background-color: #FFFFFF;
}

.about-container {
    position: relative;
    margin: 0px auto;
    width: min(1100px, 100%);
}

.about-content {
    padding: 0px 0px 120px 0px;
}

.about-title {
    position:relative;
    padding: 0px 0px 25px 0px;
    font-size: 2.8em;
    font-weight: 900;
    line-height: 1.0em;
    color: #0F4829;
}

.about-title::after
{
    content: "";
    position: absolute;
    left: 10px;
    bottom: 18px;
    width: 230px;
    height: 10px;
    background: url("/resources/underscore.svg") no-repeat;
    background-size: cover;
}

.about-title-span {
    font-size: 1.4em;
    color: #EF0B74;
}

.about-rich-text {
    padding: 0px 0px 25px 0px;
    font-size: 1.1em;
    line-height: 1.4em;
    color: #3B3C40;
}

.about-image {
    position: relative;
    float: right;
    width: 460px;
    height: 460px;
    border-radius: 50%;
    shape-outside: circle(50%);
    shape-margin: 30px;
    background: url("/resources/CW_Smile_Snipped.jpg") no-repeat;
    background-size: cover;
}

.about-image-shadow {
    position: absolute;
    top: -20px;
    right: -130px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #F398BA;
}

.about-image-shadow-small {
    position: absolute;
    top: -50px;
    right: -130px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ED7FAB88;
}

.about-dot-small {
    position: absolute;
    top: -70px;
    right: 400px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ED7FAB88;
}

.about-dot-smaller {
    position: absolute;
    top: -140px;
    right: 380px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ED7FAB88;
}

.offer {
    padding: 50px 0px 100px 0px;
    width: 100%;
    background-color: #FFFFFF;
}

.offer-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
    margin: 0px auto;
    width: min(1100px, 100%);
}

.offer-title 
{
    padding: 0px 0px 50px 0px;
    font-size: 2.4em;
    font-weight: 900;
    line-height: 1.0em;
    color: #0F4829;
}

.offer-title::after {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 39px;
    width: 230px;
    height: 10px;
    background: url("/resources/underscore.svg") no-repeat;
    background-size: cover;
}

.offer-title-span 
{
    font-size: 1.4em;
    color: #EF0B74;
}

.offer-content-title
{
    margin: 0px 0px 30px;
    font-size: 1.4em;
    font-weight: 700;
    color: #3B3C40;
}

.offer-content-text {
    padding: 0px 0px 25px 0px;
    font-size: 1.1em;
    line-height: 1.4em;
    color: #3B3C40;
}

.offer-content-list
{
    margin-top: 20px;
    padding: 50px 30px;
    border-radius: 8px;
    background-color: #F398BA;
}

.offer-content-list-title {
    margin: 0px 0px 30px;
    font-size: 1.4em;
    font-weight: 700;
    color: #FFFFFF;
}

.offer-content-list-item {
    list-style-type: disc;
    list-style-position: inside;
    padding: 0px 0px 25px 0px;
    font-size: 1.1em;
    line-height: 1.3em;
    color: #FFFFFF;
}

.offer-info
{
    margin-top: 100px;
}

.offer-info-box
{
    margin-bottom: 30px;
    padding: 30px 50px;
    border-radius: 8px;
    background-color: #F7F7F7;
}

.offer-info-title
{
    margin: 0px 0px 30px;
    font-size: 1.4em;
    font-weight: 700;
    color: #ABC0AE;
}

.offer-info-text
{
    padding: 0px 0px 25px 0px;
    font-size: 1.1em;
    line-height: 1.4em;
    color: #3B3C40;
}

.hero {
    width: 100%;
    clip-path: polygon(0px 0px, 100% 0px, 100% 85%, 50% 100%, 0px 85%);
}

.hero-container {
    margin: 0px auto;
    width: min(1100px, 100%);
    background: url("/resources/cd.jfif") no-repeat;
    background-position: right 0px top -80px;
    background-size: 500px;
    backdrop-filter: blur(5px);
}

.hero-content {
    padding: 50px 50px 80px;
    width: 50%;
    background-color: #FFFFFF;
}

.hero-title {
    margin-bottom: 20px;
    font-size: 1.6em;
    font-weight: 900;
    color: #ED7FAB;
}

.hero-rich-text {
    padding: 0px 0px 25px 0px;
    font-size: 1.1em;
    line-height: 1.4em;
    color: #3B3C40;
}

.hero-list-item {
    list-style-type: disc;
    list-style-position: outside;
    padding: 0px 0px 12px 0px;
    font-size: 1.1em;
    line-height: 1.3em;
    color: #3B3C40;
}

.customers {
    margin: 100px 0px 0px 0px;
    width: 100%;
    background-color: #FFFFFF;
}

.customers-container {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0px auto;
    padding: 0px 0px 250px;
    width: min(1100px, 100%);
}

.customers-empty
{
    width: 100%;
}

.customers-content {
    margin-top: 30px;
    width: 100%;
}

.customers-content-text {
    padding: 0px 0px 25px 0px;
    font-size: 1.1em;
    line-height: 1.4em;
    color: #3B3C40;
}

.customers-content-author {
    padding: 0px 0px 25px 0px;
    font-family: "JustLovely";
    font-size: 2.2em;
    font-weight: 600;
    text-align: end;
    color: #EF0B74;
}

.customers-arrows {
    position: relative;
    width: 100%;
    height: 70px;
}

.customers-arrow-left {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 80px);
    width: 70px;
    height: 70px;
    border: none;
    background: url("/resources/left_dark_button.svg") no-repeat;
}

.customers-arrow-left-de {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 80px);
    width: 70px;
    height: 70px;
    border: none;
    background: url("/resources/left_button.svg") no-repeat;
    opacity: 75%;
}

.customers-arrow-right {
    position: absolute;
    bottom: 0px;
    right: calc(50% - 80px);
    width: 70px;
    height: 70px;
    border: none;
    background: url("/resources/right_dark_button.svg") no-repeat;
}

.customers-arrow-right-de {
    position: absolute;
    bottom: 0px;
    right: calc(50% - 80px);
    width: 70px;
    height: 70px;
    border: none;
    background: url("/resources/right_button.svg") no-repeat;
    opacity: 75%;
}

.customers-round {
    position: absolute;
    top: 50px;
    left: -100px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: url("/resources/CW_Cafe_Snipped.jpg") no-repeat;
    background-size: contain;
}

.customers-round-large {
    position: absolute;
    top: -25px;
    left: -250px;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background-color: #ED7FAB;
}

.customers-feedback {
    position: absolute;
    right: 0px;
    bottom: -30px;
    padding-top: 50px;
    font-size: 10.0em;
    font-weight: 900;
    color: #ABC0AE;
    text-align: right;
}

.customers-feedback::before {
    content: "Kunden";
    position: absolute;
    top: 55px;
    right: 550px;
    font-family: "JustLovely", cursive;
    font-size: 5.0rem;
    font-weight: 700;
    color: #EF0B74;
}

.customers-carousel
{
    display: flex;
    width: 100%;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: scroll;
    column-gap: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.customers-carousel::-webkit-scrollbar
{
    display: none;
}

.customers-carousel-item {
    position: relative;
    padding: 0px 0px 80px;
    flex: 1 0 100%;
    scroll-snap-align: center;
    transition: all 0.5s ease-in-out;
}

.footer {
    padding: 100px 0px;
    width: 100%;
    background-color: #3B3C40;
}

.footer-container {
    margin: 0px auto;
    width: min(1100px, 100%);
}

.footer-container-up {
    display: grid;
    grid-template-columns: 65% 35%;
    margin-bottom: 50px;
}

.footer-contact-title {
    margin-bottom: 30px;
    font-size: 2.0em;
    font-weight: 900;
    line-height: 1.2em;
    color: #FFFFFF;
}

.footer-contact-subtitle {
    margin-top: 30px;
    font-size: 1.2em;
    font-weight: 700;
    color: #FFFFFF;
}

.footer-contact-text {
    font-size: 1.0em;
    color: #BBBBBB;
}

.footer-contact-button {
    margin-top: 20px;
    padding: 12px 42px;
    width: 100%;
    border: none;
    font-size: 1.0em;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #ABC0AE;
}

.footer-contact {
    font-size: 1.1em;
    color: #FFFFFF;
}

.footer-title {
    margin-bottom: 10px;
    font-size: 1.8em;
    font-weight: 900;
    color: #FFFFFF;
}

.footer-text {
    font-style: italic;
    font-size: 1.0em;
    color: #BBBBBB;
}

.footer-contact-instagram
{
    display: inline;
    margin: 12px 12px 0px 0px;
    width: 32px;
    height: 32px;
    border: none;
    background: url("/resources/instagram_header.svg") no-repeat;
    background-size: contain;
}

.footer-contact-linkedin 
{
    display: inline;
    margin: 12px 12px 0px 0px;
    width: 32px;
    height: 32px;
    border: none;
    background: url("/resources/linkedin_header.svg") no-repeat;
    background-size: contain;
}

.footer-contact-xing 
{
    display: inline;
    margin: 12px 12px 0px 0px;
    width: 32px;
    height: 32px;
    border: none;
    background: url("/resources/xing.svg") no-repeat;
    background-size: contain;
}

.footer-bar {
    padding: 20px 0px 20px;
    width: 100%;
    background-color: #3B3C40DD;
}

.footer-bar div
{
    margin-inline: auto;
    width: min(100%, 1100px);
    text-align: center;
}

.footer-bar div a
{
    color: #FFFFFF;
}

@media screen and (max-width: 1150px) {

    .content-wrapper
    {
        padding-inline: 12px;
    }

    .header-container {
        padding: 0px 12px;
    }

    .welcome-container {
        padding: 0px 12px;
    }

    .about-container {
        padding: 0px 12px;
    }

    .offer-container {
        padding: 0px 12px;
    }

    .hero {
        clip-path: polygon(0px 0px, 100% 0px, 100% 90%, 50% 100%, 0px 90%);
    }

    .hero-content {
        padding: 0px 20px 100px 20px;
        width: 50%;
    }

    .customers-container {
        padding: 0px 12px;
    }

    .footer-container {
        padding: 0px 12px;
    }

    .customers-round
    {
        left: 0px;
    }

    .customers-feedback {
        font-size: 5.5rem;
    }
    
    .customers-feedback::before {
        top: 40px;
        left: 32px;
        font-size: 2.5rem;
    }

}

@media screen and (max-width: 1400px) {

    .about-image,
    .about-image-shadow,
    .about-image-shadow-small,
    .about-dot-small,
    .about-dot-smaller {
        display: none;
    }

}

@media screen and (max-width: 1000px) {
    
    .header-container {
        padding: 0px 12px;
    }

    .header-menu {
        display: none;
    }

    .header-links {
        display: none;
    }

    .header-icon {
        display: block;
    }

}

@media screen and (max-width: 786px) {

    .customers-empty
    {
        display: none;
    }

    .header-container {
        padding: 0px 12px;
    }

    .header-menu {
        display: none;
    }

    .header-links {
        display: none;
    }

    .header-icon {
        display: block;
    }

    .welcome-container {
        padding: 0px 12px;
    }

    .welcome-content {
        padding: 420px 0px 0px 0px;
    }

    .welcome-image {
        top: 75px;
        left: 0%;
        right: 0%;
        margin: 0px auto;
        width: 250px;
        height: 250px;
    }

    .welcome-image-shadow {
        top: 30px;
        left: 0%;
        right: 0%;
        margin: 0px auto;
        width: 350px;
        height: 350px;
    }

    .welcome-coffee {
        display: none;
    }

    .about {
        margin-top: 0px;
    }

    .about-container {
        padding: 0px 12px;
    }

    .about-image,
    .about-image-shadow,
    .about-image-shadow-small,
    .about-dot-small,
    .about-dot-smaller {
        display: none;
    }

    .about-content {
        width: 100%;
        padding-bottom: 20px;
    }

    .offer {
        padding: 20px 0px 20px;
    }

    .offer-container {
        display: block;
        padding: 0px 12px;
    }

    .offer-content {
        margin-top: 50px;
    }

    .offer-info
    {
        margin-top: 30px;
    }

    .offer-smoke {
        display: none;
    }

    .hero {
        margin-bottom: 50px;
        clip-path: polygon(0px 0px, 100% 0px, 100% 92%, 50% 100%, 0px 92%);
    }

    .hero-content {
        padding: 30px 12px 50px 12px;
        width: 100%;
        background-color: #FFFFFFBB;
    }

    .customers {
        margin: 0px auto;
    }

    .customers-container {
        padding: 0px 12px;
        grid-template-columns: 1fr;
    }

    .customers-content
    {
        margin-top: 300px;
        padding-bottom: 120px;
    }

    .customers-left,
    .customers-right {
        display: none;
    }

    .customers-center {
        height: auto;
    }

    .customers-large-container {
        width: 100%;
        height: 250px;
    }

    .customers-button-left,
    .customers-button-right {
        display: none;
    }

    .customers-large-image {
        left: 0px;
        right: 50px;
        margin: 0px auto;
        width: 250px;
        height: 250px;
        background-color: #BBBBBB;
    }

    .customers-large-info {
        top: 100px;
        left: 100px;
        right: 0px;
        width: 180px;
        height: 180px;
        margin: 0px auto;
    }

    .customers-large-info-text::before {
        font-size: 10.0em;
    }

    .customers-large-info-text::after {
        font-size: 10.0em;
        top: -120px;
    }

    .customers-feedback {
        bottom: -10px;
        font-size: 3.5em;
    }

    .customers-feedback::before {
        top: 30px;
        left: 32px;
        font-size: 2.5rem;
    }

    .customers-round-large {
        top: 120px;
        left: 50%;
        right: 50%;
        width: 300px;
        height: 300px;
        transform: translate(-50%, -50%);
    }

    .customers-round
    {
        top: 120px;
        left: 50%;
        right: 50%;
        width: 250px;
        height: 250px;
        transform: translate(-50%, -50%);
    }

    .customers-content-author
    {
        text-align: center;
        font-size: 1.8em;
    }

    .customers-carousel-item {
        overflow-wrap: anywhere;
    }

    .customers-arrow-left
    {
        left: 25%;
    }

    .customers-arrow-right
    {
        right: 25%;
    }

    .footer
    {
        padding: 50px 0px;
    }

    .footer-contact-text
    {
        margin-top: 50px;
    }

    .footer-contact-button
    {
        margin-bottom: 30px;
    }

    .footer-container {
        padding: 0px 12px;
    }

    .footer-container-up {
        grid-template-columns: 1fr;
    }

}